<footer class="bg-dark text-white p-4 text-center mt-auto">
    <h2>블로그</h2>
    <div class="mb-2">📞 010-1234-5678</div>
    <a href="#" class="btn btn-primary">고객센터</a>
    <a href="#" class="btn btn-primary">오시는 길</a>
  </footer>

</body>

</html>
