{{> /layout/header}}

<div class="container p-5">
  <!-- localhost:8080/board/save ,  post로 요청됨 -->
  <!-- title=입력값&content=입력값 -->
  <div class="card">
    <div class="card-header"><b>글 수정하기</b></div>
    <div class="card-body">
      <form action="/board/{{board.id}}/update" method="post" enctype="application/x-www-form-urlencoded">

        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Enter title" name="title" value="{{board.title}}"
            required maxlength="100">
        </div>

        <div class="mb-3">
          <textarea class="form-control" rows="15" name="content">{{board.content}}</textarea>
        </div>

        <button type="submit" class="btn btn-primary form-control">수정하기</button>
      </form>
    </div>
  </div>
</div>

{{> /layout/footer}}