{{> /layout/header}}

<div class="container p-5">
    <!-- localhost:8080/join ,  post로 요청됨 -->
    <!-- username=입력값&password=입력값&email=입력값 -->
    <div class="card">
        <div class="card-header"><b>회원수정을 해주세요</b></div>
        <div class="card-body">
            <form action="/user/update" method="post" enctype="application/x-www-form-urlencoded">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="{{sessionUser.username}}" name="username" disabled>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Enter password" name="password">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" value="{{sessionUser.email}}" name="email">
                </div>
                <button type="submit" class="btn btn-primary form-control">회원수정</button>
            </form>
        </div>
    </div>
</div>
  {{> /layout/footer}}
