{{> /layout/header}}

<div class="container p-3">

  <form class="d-flex mb-3 w-25" action="/" method="get">
    <input class="form-control me-2 col-auto" type="text" name="keyword" {{#keyword}}value="{{keyword}}"{{/keyword}} placeholder="Search" required>
    <button class="btn btn-primary col">Search</button>
  </form>

  {{#boardList}}
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="row align-items-center mt-2 mb-2">
        <div class="col-auto">
          <div class="form-control">
            {{user.username}}
          </div>
        </div>
        <div class="col">
          <div class="form-control">
            {{title}}
          </div>
        </div>
        <!--
        <div class="col">
          <div class="form-control">
            {{content}}
          </div>
        </div>
        -->
        <div class="col-auto">
          <a href="board/{{id}}" class="btn btn-primary">상세보기</a>
        </div>
      </div>
    </div>
  </div>
  {{/boardList}}
  

  <ul class="pagination d-flex justify-content-center">
    {{#keyword}}
    <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link text-dark" href="?keyword={{keyword}}&page={{prevPage}}">이전 페이지</a></li>
    <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link text-dark" href="?keyword={{keyword}}&page={{nextPage}}">다음 페이지</a></li>
    {{/keyword}}

    {{^keyword}}
    <li class="page-item {{#first}}disabled{{/first}}"><a class="page-link text-dark" href="?page={{prevPage}}">이전 페이지</a></li>
    <li class="page-item {{#last}}disabled{{/last}}"><a class="page-link text-dark" href="?page={{nextPage}}">다음 페이지</a></li>
    {{/keyword}}
  </ul>


</div>

{{> /layout/footer}}
