{{> /layout/header}}

<div class="container p-3">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">제목1</h4>
      <p class="card-text mb-2">내용1</p>
      <a href="board/1" class="btn btn-primary">상세보기</a>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">제목1</h4>
      <p class="card-text mb-2">내용1</p>
      <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">제목1</h4>
      <p class="card-text mb-2">내용1</p>
      <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">제목1</h4>
      <p class="card-text mb-2">내용1</p>
      <a href="#" class="btn btn-primary">상세보기</a>
    </div>
  </div>
  

  <ul class="pagination d-flex justify-content-center">
    <li class="page-item disabled"><a class="page-link text-dark" href="#">이전 페이지</a></li>
    <li class="page-item"><a class="page-link text-dark" href="#">다음 페이지</a></li>
  </ul>


</div>

{{> /layout/footer}}
